*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
/* start-header-css*/
.banner{
    
        height: 900px;
        width: 1600px;
        background-image: url('/images/banner/banner1.png');
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: end;
        justify-content: flex-end;
        padding-right: 230px;
        margin-bottom: 130px;
    
   
}
.banner-title{
    font-weight: 600px;
    font-size: 50px;
    color:  #151414;
    margin: 24px 0px 30px;
}
.contact-btn{
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    height: 64px;
    padding: 20px 25px;
}
/*end-header-css*/
/*start failures css-->*/
.section{
    font-display:  flex;
}
.section-picture{
    width: 400px;
    height: 416px;
    padding: 10px 20px 30 40px;

}
.section-title{
    display: flex;
    color: #151414;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    
    margin: 24px 0px 30px;
    margin-bottom: 24px;
}
.section-description{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px; 
    left: 862px;
     
}
.description {
width: 400px;
left: 862px;
top: 1400px;
color: #444343;
font-size: 16px;
line-height: 26px;
color: #444343;
}
/*end failure css*/
